.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003050;
  width: 120px;
  .logo {
    height: 60px;
    flex-shrink: 0;
  }
  .logo-text {
    height: 22px;
    line-height: 11px;
    text-align: center;
    color: white;
    font-family: "orpheuspro";
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 0px;
  font-size: 16px;
  border: none;

  img {
    height: 52px;
    border-radius: 50%;
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1;
}

.nav-icon {
  color: white;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #003050;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

// mat-sidenav-container {
//   height: calc(100vh - 65px);
// }

.inner-content {
  position: absolute;
  bottom: 0;
}

.name {
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}
.avatar {
  border-radius: 50%;
  height: 60px;
}
.active-link {
  color: #8c632e;
}
.logout {
  margin-top: 2px;
  margin-bottom: 2px;
}
