<nav class="app-navbar d-flex align-items-center justify-content-between">
  <a href="/" class="d-flex align-items-center text-decoration-none">
    <img src="/assets/images/RelegalLogo.png" class="logo" alt="Relegal">
    <p class="logo-text d-inline-block">Relegal Solutions</p>
  </a>
  <div class="dropdown" *ngIf="isUserLoggedIn">
    <button class="dropbtn"><img src="assets/images/profileImage.png" alt="Profile" class=""></button>
    <div class="dropdown-content">
      <!--<a href="#">Link 1</a>-->
      <!--<a href="#">Link 2</a>-->
      <a href="#" (click)="signOut()">Sign out</a>
    </div>
  </div>
</nav>
